<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Spare3.0</title>
	<script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
  	<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
  	<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>
  	<script>
  	$(function () {
  	    $('#container').highcharts({
  	        chart: {
  	            type: 'column'
  	        },
  	        title: {
  	            text: '所有列的Score得分结果'
  	        },
  	        subtitle: {
  	            text: ''
  	        },
  	        xAxis: {
  	            categories: [
  	                
  	            ]
  	        },
  	        yAxis: {
  	            min: 0,
  	            title: {
  	                text: '分值'
  	            }
  	        },
  	        tooltip: {
  	            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
  	            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
  	                '<td style="padding:0"><b>{point.y:.9f}</b></td></tr>',
  	            footerFormat: '</table>',
  	            shared: true,
  	            useHTML: true
  	        },
  	        plotOptions: {
  	            column: {
  	                pointPadding: 0.2,
  	                borderWidth: 0
  	            }
  	        },
  	        series: [
  	        {
  	            name: '',
  	            data: [
					#{list items:list, as:'score'}
  	            	${score},
  	            	#{/list}
  	            ]
  	        },
  	        ]
  	    });
  	});				
  	</script>
</head>

<body>

	<div id="container" style="min-width:700px;height:400px"></div>
	
</body>

</html>

