<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Spare3.0</title>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
	<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
   
    #{get 'moreScripts' /}
	<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script> 
	<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
</head>

<body>

	<div style="font-size:30px;color:blue;text-align:center;">读取到的数据</div>
	<table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
	    <thead>
	        <tr>
	            <th data-options="field:'recoed',width:80">记录</th>
	        </tr>
	    </thead>
	    <tbody>
	    	#{list items:tmp, as:'str'}
	        <tr>
	            <td>${str}</td>
	        </tr>
	        #{/list}
	    </tbody>
	</table>
	
	
</body>
</html>

